[Unit]
Name=socat
Description=Portforwarding

[Service]
Type=simple
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=socat

ExecStart=/bin/sh /ops/system/socat/main.sh
Restart=always

[Install]
WantedBy=multi-user.target
