[Unit]
Description = agent

[Service]
User = root
Type = simple
ExecStart = $(OPS)/agent/bin
Restart = always

[Install]
WantedBy = multi-user.target
