[Unit]
Description = agent

[Service]
User = root
Type = simple
ExecStart = make run
WorkingDirectory = $(OPS)/agent
Restart = always

[Install]
WantedBy = multi-user.target
