[Unit]
Description = Setup shqld/ops
Requires = docker.service
# TODO: Before = agent.service

[Service]
ExecStart = $(OPS)/setup/run-setup.sh
RemainAfterExit = true
WorkingDirectory = $(OPS)
Type = oneshot

[Install]
WantedBy=multi-user.target
